@page "/studentdetail/{id}"

<a href="/studentspage"><button class="btn btn-primary">Back</button></a>

<h3>Detail Siswa</h3>
<p>Nomor Siswa : @Student.studentID</p>
<p>Nama Depan : @Student.firstName</p>
<p>Nama Belakang : @Student.lastName</p>
<p>Tanggal Masuk : @Student.enrollmentDate</p>